{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block body %}
<body style="background-image: url('/static/courser_1.jpg');">



    <div class="container mb-3 py-4" style="background-image:
        url('/static/services_background3.jpg'); width: 500px; margin-top:
        40px;">
        <h1 class="text-center">Contact Us</h1>
        <form method="post" action="/contact">
            {% csrf_token %}
            <div class="form-group">
                <div>
                    <label for="name">Name</label> </div>
                <input type="text" class="form-control" id="name" name="name"
                    placeholder="Enter your Name">
            </div>

            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" name="email"
                    placeholder="Enter Your Email">
            </div>

            <div class="form-group">
                <label for="phone">Phone Number</label>
                <input type="phone" class="form-control" id="phone" name="phone"
                    placeholder="Enter Your Phone Number">
            </div>

            <div class="form-group">
                <label for="desc">Tell me about what you want to contact me
                    for...</label>
                <textarea class="form-control" id="desc" rows="3" name="desc"></textarea>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>

    </div>

</body>
{% endblock body %}